

.jsvalidation { margin-left:10px; font-size:10px; color:#FF0000; font-family:"Lucida Sans Unicode", "Trebuchet MS", Tahoma, sans-serif; }
#notes { color:#666666; padding-top:10px; margin-top:20px; border-top:1px solid #333333; }
.dim, .dim a { color:#CCCCCC; }
